@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";
$hamburger-hover-opacity: 1;
$hamburger-types: (elastic, elastic-r);
$hamburger-layer-color: #000;
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss";
@import "../libs/font-awesome/css/font-awesome.min.css";
@import "../libs/malihu-scrollbar/jquery.mCustomScrollbar.min.css";
@import "../libs/jq-ui/jquery-ui.min.css";
@import "../libs/jq-ui/jquery-ui.structure.min.css";
@import "../libs/slick-slider/slick.css";



























//ALWAYS END
@import "sketches.scss";