extends layouts/html.jade
block content
    div.assv-wrapper
        div.main
            div.wrapper-inner
                div.breadcrumbs
                    a(href="#").breadcrumbs-logo
                    a(href="#") Акссессуары
                div.main-content
                    aside
                        div.male-female.filter
                            h3  пол
                            span
                            form.mCustomScrollbar
                                label
                                    input(type="radio")
                                    div.fix
                                    |Мужской
                                label
                                    input(type="radio")
                                    div.fix
                                    |Женский
                                label
                                    input(type="radio")
                                    div.fix
                                    |Детский
                                label
                                    input(type="radio")
                                    div.fix
                                    |Унисекс
                                label
                                    input(type="radio", checked)
                                    div.fix
                                    |ВСЕ
                        div.category.filter
                            h3  Категория
                            span
                            form.mCustomScrollbar
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | ВСЕ
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Браслеты
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Вафли
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Внешние аккумуляторы
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Газированная вода
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Для бритья
                                label
                                    input(type="checkbox" checked)
                                    div.fix
                                    | Для велосипедов
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Для волос
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Для лица
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Для письма
                                label
                                    input(type="checkbox" checked)
                                    div.fix
                                    | Пальто
                        div.color.filter
                            h3  цвет
                            span
                            form.mCustomScrollbar
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Бежевый
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Белый
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Бирюзовый
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Бордовый
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Голубой
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Желтый
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Зеленый
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Золотой
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Камуфляж
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Коричневый
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Золотой
                        div.brand.filter
                            h3  бренд
                            span
                            form.mCustomScrollbar
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | A&W
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Acca Kappa
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Adidas Consortium
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Adidas Originals
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Adidas Originals x XBYO
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Adidas Performance
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Ally Capellino
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Alpha Industries
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Altoids
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | Anderson's
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | adidas Consortium
                        div.size.filter
                            h3  размер
                            span
                            form.mCustomScrollbar
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 95
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 105
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 39-42
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 43-46
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 1(M)
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 2(L)
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 3(XL)
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | M
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | L
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | ONE SIZE
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 2-3Y
                                label
                                    input(type="checkbox")
                                    div.fix
                                    | 4-6Y
                        div.brand.filter
                            h3  цена
                            span
                            div#slider
                            input(type="text", id="minCost", value="0")
                            input(type="text", id="maxCost", value="15000")
                    div.main-right-column
                        div.filter-up
                            ul.show
                                li  Показать
                                li
                                    a(href="#").active 15
                                li
                                    a(href="#") 30
                                li
                                    a(href="#") 60
                            ul.sort
                                li  Сортировать
                                li
                                    a(href="#").active по умолчанию
                                li
                                    a(href="#") возрастанию цены
                                li
                                    a(href="#") убыванию цены
                                li
                                    a(href="#") скидке
                        div.list
                            div.filter-click    Фильтр
                            ul
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-1.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.portion   G-SHOCK MTG-G1000GB-1A Black/Gold
                                    span.price-stock
                                    span.price
                                        | 140 360
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-2.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Cote&Ciel
                                    p.description  Рюкзак
                                    span.portion sar Alias M Agate Black
                                    span.price-stock
                                    span.price
                                        | 44 990
                                        | &#8381;
                                li
                                    a(href="#").image.new.stock.stock-active
                                        img(src="img/accessory/accessory-3.jpg", alt="food-img")
                                        span.stock  Скидка 10%
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.model   G-SHOCK GA-110TX-7A White
                                    span.price-stock
                                        | 12 590
                                        | &#8381;
                                    span.price
                                        | 9 100
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-1.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.portion   G-SHOCK MTG-G1000GB-1A Black/Gold
                                    span.price-stock
                                    span.price
                                        | 140 360
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-2.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Cote&Ciel
                                    p.description  Рюкзак
                                    span.portion sar Alias M Agate Black
                                    span.price-stock
                                    span.price
                                        | 44 990
                                        | &#8381;
                                li
                                    a(href="#").image.new.stock.stock-active
                                        img(src="img/accessory/accessory-3.jpg", alt="food-img")
                                        span.stock  Скидка 10%
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.model   G-SHOCK GA-110TX-7A White
                                    span.price-stock
                                        | 12 590
                                        | &#8381;
                                    span.price
                                        | 9 100
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-1.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.portion   G-SHOCK MTG-G1000GB-1A Black/Gold
                                    span.price-stock
                                    span.price
                                        | 140 360
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-2.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Cote&Ciel
                                    p.description  Рюкзак
                                    span.portion sar Alias M Agate Black
                                    span.price-stock
                                    span.price
                                        | 44 990
                                        | &#8381;
                                li
                                    a(href="#").image.new.stock.stock-active
                                        img(src="img/accessory/accessory-3.jpg", alt="food-img")
                                        span.stock  Скидка 10%
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.model   G-SHOCK GA-110TX-7A White
                                    span.price-stock
                                        | 12 590
                                        | &#8381;
                                    span.price
                                        | 9 100
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-1.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.portion   G-SHOCK MTG-G1000GB-1A Black/Gold
                                    span.price-stock
                                    span.price
                                        | 140 360
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-2.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Cote&Ciel
                                    p.description  Рюкзак
                                    span.portion sar Alias M Agate Black
                                    span.price-stock
                                    span.price
                                        | 44 990
                                        | &#8381;
                                li
                                    a(href="#").image.new.stock.stock-active
                                        img(src="img/accessory/accessory-3.jpg", alt="food-img")
                                        span.stock  Скидка 10%
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.model   G-SHOCK GA-110TX-7A White
                                    span.price-stock
                                        | 12 590
                                        | &#8381;
                                    span.price
                                        | 9 100
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-1.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.portion   G-SHOCK MTG-G1000GB-1A Black/Gold
                                    span.price-stock
                                    span.price
                                        | 140 360
                                        | &#8381;
                                li
                                    a(href="#").image.new
                                        img(src="img/accessory/accessory-2.jpg", alt="food-img")
                                        span.stock
                                    h2.title   Cote&Ciel
                                    p.description  Рюкзак
                                    span.portion sar Alias M Agate Black
                                    span.price-stock
                                    span.price
                                        | 44 990
                                        | &#8381;
                                li
                                    a(href="#").image.new.stock.stock-active
                                        img(src="img/accessory/accessory-3.jpg", alt="food-img")
                                        span.stock  Скидка 10%
                                    h2.title   Casio
                                    p.description  Мужские наручные часы
                                    span.model   G-SHOCK GA-110TX-7A White
                                    span.price-stock
                                        | 12 590
                                        | &#8381;
                                    span.price
                                        | 9 100
                                        | &#8381;
                        div.filter-down
                            ul.show
                                li  Показать
                                li
                                    a(href="#").active 15
                                li
                                    a(href="#") 30
                                li
                                    a(href="#") 60
                            ul.pagination
                                li
                                    a(href="#") В начало
                                li
                                    a(href="#").number-pagination 1
                                li
                                    a(href="#").number-pagination.active 2
                                li
                                    a(href="#").number-pagination 3
                                li
                                    a(href="#").number-pagination 4
                                li
                                    a(href="#").number-pagination 5
                                li
                                    a(href="#") ...
                                li
                                    a(href="#").active Далее
                div.best-brand
                    h2  ЛУчшие бренды
                    span
                    div.slider-brand
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-1.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-2.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-3.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-4.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-1.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-2.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-3.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-4.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-1.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-2.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-3.jpg", alt="brand-img")
                        div.slide
                            a(href="#")
                            img(src="img/slider/brand-4.jpg", alt="brand-img")
                    a(href="#").all-brand Все бренды